.add-title{
  color:#724913;
  font-size: 40px;
  margin-top: 60px;
}
.area-form-content{
  width: 50%;
  border: 2px solid #724913;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #724913;
  color: #f3b85b;
  margin-bottom: 15px;
}
.active-hash-default{
  background-color: white;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;
}